<div id="tabs">
	<ul>
		<li><a href="#site-manager" onclick="redirect('#/site-manager');">Site Manager</a></li>
		<li><a href="#site-repo" onclick="redirect('#/site-repo');">Site Pool Repository</a></li>
		<li><a href="#content-repo" onclick="redirect('#/content-repo');">Content Repository</a></li>
	</ul>
	<div id="site-manager">
		<p>Loading Site Manager Module...</p>
	</div>
	<div id="site-repo">
		<p>Loading Site Pool Repository Module...</p>
	</div>
	<div id="content-repo">
		<p>Loading Content Repository Module...</p>
	</div>
</div>
<script>
	function redirect(url) {
		location.href = url;
	}
</script>